# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# Virtual envs
.venv/
venv/
env/

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Not for git
.env
.secrets
.streamlit/secrets.tomlg

# private stuff
key.pub
streamlit_app_url.txt

/.streamlit/secrets.toml
key.pub
streamlit_app_url.txt
